@font-face {
    font-family: ClearSans-Light;
    src: url('fonts/ClearSans-Light.ttf');
}
@font-face {
    font-family: ClearSans-Medium;
    src: url('fonts/ClearSans-Medium.ttf');
}
@font-face {
    font-family: ClearSans-Bold;
    src: url('fonts/ClearSans-Bold.ttf');
}
ul, li {
    font-family: ClearSans-Light, sans-serif;
}
h1 {
    font-family: ClearSans-Bold, sans-serif;
}
h2, h3 {
    font-family: ClearSans-Medium, sans-serif;
}
#title {
    font-size: 400%;
}
* {
    margin: 0;
    padding: 0;
}
#title{
    padding: 21% 0;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    transion: all 0.2s ease;
}
#title h1 {
    text-align: center;
    color: white;
}