@font-face {
    font-family: ClearSans-Light;
    src: url('fonts/ClearSans-Light.ttf');
}
@font-face {
    font-family: ClearSans-Medium;
    src: url('fonts/ClearSans-Medium.ttf');
}
@font-face {
    font-family: ClearSans-Bold;
    src: url('ClearSans-Bold.ttf');
}
ul, li {
    font-family: ClearSans-Light, sans-serif;
}
h1 {
    font-family: ClearSans-Bold, sans-serif;
}
h2, h3{
    font-family: ClearSans-Medium, sans-serif;
}
